/* ======== FONDO Y FUENTE GENRAL ======== */
.root {
    -fx-background-color: linear-gradient(to bottom right, #e6ebf0, #ffffff);
    -fx-font-family: "Segoe UI", "Arial";
}
/* ======== FONDO Y FUENTE PARA LOGIN ======== */
.Login {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #ffffff);
    -fx-font-family: "Segoe UI", "Arial";
}

/* ======== LABELS GENERAL ======== */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #0a3d62;
    -fx-font-weight: bold;
}

/* ENACABEZADO Y TITULO PRINCIPAL*/
.header-label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0;  /* <--- ajusta este valor */
    -fx-pref-height: 5;  /* <--- controla el alto total */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 4, 0, 0, 1);
}

/* ======== CAMPOS DE TEXTO Y COMBOBOX GENERAL ======== */
.text-field, .combo-box {
    -fx-pref-width: 240;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #b0bec5;
    -fx-border-width: 1.5;
    -fx-background-color: #ffffff;
    -fx-padding: 6 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #0078d7;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,120,215,0.3), 6, 0, 0, 2);
}

/* ======== CAMPOS DE TEXTO Y COMBOBOX TABLAS CLIENTES, VEHICULOS, CREACION DE USUARIOS ======== */
.text-field-cliente {
    -fx-pref-width: 150;
    -fx-background-radius: 10;
    -fx-border-radius: 0;
    -fx-border-color: #b0bec5;
    -fx-border-width: 1.5;
    -fx-background-color: #ffffff;
    -fx-padding: 6 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.text-field:focused {
    -fx-border-color: #0078d7;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,120,215,0.3), 6, 0, 0, 2);
}



/* ======== BOTONES GENERAL ======== */
.button {
    -fx-background-color: linear-gradient(to right, #003a69, #003a69);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10 22;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #0099ff, #33ccff);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 7, 0, 0, 3);
}

.button:pressed {
    -fx-background-color: linear-gradient(to right, #004a80, #007acc);
    -fx-translate-y: 1;
}



/* ======== PANEL DEL ENCABEZADO GENERAL ======== */
.header-pane {
    -fx-background-color: linear-gradient(to right, #004a80, #0078d7);
    -fx-padding: 10 10;
    -fx-alignment: top_left;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 3);
}

.header-pane-login {
    -fx-background-color: linear-gradient(to right,  #003a69,  #003a69);
    -fx-padding: 10 10;
    -fx-alignment: top_left;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 3);
}


/* ======== TARJETAS O CUADROS GENERAL ======== */
.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

/* ===== BOTÓN DE CERRAR SESIÓN ===== */
.logout-button {
    -fx-background-color: white;
    -fx-text-fill: #004a80;  /* azul del sistema */
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 18;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.logout-button:hover {
    -fx-background-color: #e6f0ff; /* azul muy clarito al pasar el mouse */
    -fx-text-fill: #003366;
}

.logout-button:pressed {
    -fx-background-color: #cce0ff;
    -fx-translate-y: 1;
}


.logo-container {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6f0fa);
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.4, 0, 3);
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #d0d7de;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-table-cell-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 2);
}

/* Encabezado de columnas */
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #003366, #0059b3);
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: #003a69;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: center;
}

/* Filas */
.table-row-cell {
    -fx-background-color: white;
    -fx-font-size: 13px;
}

.table-row-cell:odd {
    -fx-background-color: #f5f8fa;
}

.table-row-cell:hover {
    -fx-background-color: #e1f0ff;
}


/* Bordes internos */
.table-view .filler {
    -fx-background-color: #003366;
}
